# Arquivos de sistema
.DS_Store
Thumbs.db

# Dependências e builds
node_modules/
dist/
build/
*.log

# Ambiente/IDE
.vscode/
.idea/

# Arquivos de configuração local
.env
*.local

# Linguagens específicas
*.pyc
__pycache__/